<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    RewriteRule ^content/(.*)$ content/$1 [L]
    RewriteRule ^lib/ - [F,L]
    RewriteRule ^(.*)$ backend/index.php [QSA,L]
</IfModule>

Options -Indexes

DirectoryIndex index.html index.php